<div id="content_servico">
    <div class="conteudo">
        <div class="blocos">
            <div class="bloco">
                <div class="icone">
                    <mat-icon>balance</mat-icon>
                </div>
                <h3>Advocacia</h3>
                <p>
                    Conte com especialistas para garantir segurança e assertividade 
                    em suas questões legais.
                </p>
            </div>
            <div class="bloco">
                <div class="icone">
                    <mat-icon>school</mat-icon>
                </div>
                <h3>Experiência</h3>
                <p>
                    Garantimos soluções precisas e personalizadas para cada caso. 
                    Confie em quem entende da sua necessidade jurídica.
                </p>
            </div>
            <div class="bloco">
                <div class="icone">
                    <mat-icon>auto_stories</mat-icon>
                </div>
                <h3>Sucesso</h3>
                <p>
                    Nossa equipe de advogados trabalha com dedicação e estratégia 
                    para alcançar os melhores resultados para nossos clientes.
                </p>
            </div> 
            <div class="bloco">
                <div class="icone">
                    <mat-icon>supervisor_account</mat-icon>
                </div>
                <h3>Direito Trabalhista</h3>
                <p>
                    Oferecemos suporte especializado na revisão de benefícios, 
                    garantindo justiça e acesso ao que é de direito.
                </p>
            </div>
        </div>
        <div class="servicos">
            <div class="servicos_titulo">
                <h3>Serviços</h3>
                <h5>Com profissionais especializados em diversas áreas do direito, garantimos soluções personalizadas para cada situação</h5>
            </div>
            <div class="servicos_blocos_content">
                  <div class="card" (click)="abrirDialogServico(1)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>person</mat-icon>
                        </div>
                        <h3>Defesa Civil</h3>                      
                      </div>
                      
                    </div>
                    <div class="card"  (click)="abrirDialogServico(2)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>family_restroom</mat-icon>
                        </div>
                        <h3>Direito Família</h3>
                      </div>
                    </div>
                    <div class="card" (click)="abrirDialogServico(3)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>gavel</mat-icon>
                        </div>
                        <h3>Direito Criminal</h3>
                      </div>
                    </div>
                    <div class="card" (click)="abrirDialogServico(4)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>local_police</mat-icon>
                        </div>
                        <h3>Direito Militar</h3>
                      </div>
                    </div>
                    <div class="card"  (click)="abrirDialogServico(10)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>nature_people</mat-icon>
                        </div>
                        <h3>Direito Ambiental</h3>
                      </div>
                    </div>
                  <div class="card" (click)="abrirDialogServico(5)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>tv_signin</mat-icon>
                        </div>
                        <h3>Direito Eleitoral</h3>
                      </div>
                    </div>
                    <div class="card" (click)="abrirDialogServico(6)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>home</mat-icon>
                        </div>
                        <h3>Regularização de Imóveis</h3>
                      </div>
                    </div>
                    <div class="card"  (click)="abrirDialogServico(7)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>real_estate_agent</mat-icon>
                        </div>
                        <h3>Inventários</h3>
                      </div>
                    </div>
                    <div class="card" (click)="abrirDialogServico(8)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>handyman</mat-icon>
                        </div>
                        <h3>Direito Trabalhista</h3>
                      </div>
                    </div>
                    <div class="card" (click)="abrirDialogServico(9)">
                      <div class="card-details">
                        <div class="icone">
                          <mat-icon>elderly</mat-icon>
                        </div>
                        <h3>Aposentadoria</h3>
                      </div>
                    </div>
            </div>
      </div>  
    </div>
</div>
