<div id="content_sobre">
    <div class="fundo_sobre">
        <div class="conteudo_sobre">
            <div class="texto">
                <div class="quadrado1"></div>
                <h3>Sobre Nós</h3>
                <p>
                    Somos referência em serviços jurídicos, oferecendo soluções eficazes e 
                    personalizadas para indivíduos e empresas. Com um time de advogados especializados, 
                    buscamos sempre a excelência e a transparência em cada caso.
                </p>  
                <br/>            
                <p>
                    Nossa meta é garantir a melhor defesa dos direitos de nossos clientes, com ética, compromisso 
                    e estratégias inovadoras, sempre buscando os melhores resultados.
                </p>  
                <p class="nome_empresa">Torres <span>advogados & associados</span></p>
                <div class="quadrado2"></div>
            </div>
            <div class="imagem_sobre">
                <div class="img"></div>
            </div>
        </div>
    </div>
</div>
